<?xml version="1.0" encoding="utf-8"?>
<manifest package="fr.amsl.pokespot"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".PSApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.PokeSpot">

        <activity
            android:name=".presentation.launcher.LauncherActivity"
            android:label="@string/app_name"
            android:noHistory="true"
            android:theme="@style/Theme.PokeSpot.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".presentation.download.DownloadActivity"
            android:theme="@style/Theme.PokeSpot.Download" />

        <activity
            android:name=".presentation.map.MapActivity"
            android:launchMode="singleTop" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="b530c727b80c919026778b7621bddda97fcbe55f" />

    </application>

</manifest>