<?xml version="1.0" encoding="utf-8"?>
<manifest package="fr.amsl.pokespot"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".PSDebugApplication"
        android:allowBackup="false"
        tools:replace="name, allowBackup" />

</manifest>